<app-navbar></app-navbar>
<!-- cart :{{ count }} -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm border d-flex flex-column">
      One of three columns
      <img
        src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"
        alt=""
        class="w-75 h-75"
      />
      <div class="d-flex justify-content-between">
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
        </Button>
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-dash"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
            />
          </svg>
        </Button>
      </div>
    </div>

    <div class="col-sm border d-flex flex-column">
      two of three columns
      <img
        src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"
        alt=""
        class="w-75 h-75"
      />
      <div class="d-flex justify-content-between">
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
        </Button>
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-dash"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
            />
          </svg>
        </Button>
      </div>
    </div>

    <div class="col-sm border d-flex flex-column">
      three of three columns
      <img
        src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"
        alt=""
        class="w-75 h-75"
      />
      <div class="d-flex justify-content-between">
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
        </Button>
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-dash"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
            />
          </svg>
        </Button>
      </div>
    </div>
  </div>
</div>  -->
<!-- <div *ngFor="let product of productList">{{product.name}}{{product.price}}<div></div> -->

<div class="d-flex justify-content-between ms-3 me-3 pe-5 ps-5"  >
  <h1 >product list</h1>
  <span routerLink="/cart" style="cursor: pointer;">
    <svg
    xmlns="http://www.w3.org/2000/svg"
    width="40"
    height="40"
    fill="currentColor"
    class="bi bi-cart"
    viewBox="0 0 16 16"
  >
    <path
      d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
    
  </svg>
  <span class="badge btn-success">{{ total() }}</span>
  </span>
  <!-- <span class="badge badge-secondary">4</span> -->
</div>
<div class="row itemsBlock">
  <div *ngFor="let product of productList" class="col-md-4 col-sm-6 col-12">
    <app-productone
      [product]="product"
      (productAdded)="addProductToCart($event)"
      (productremoved)="removeProductToCart($event)"
    >
    </app-productone>
  </div>
</div>
<!-- <app-productone
  *ngFor="let product of productList"
  [product]="product"
  (productAdded)="addProductToCart($event)"
  (productremoved)="removeProductToCart($event)"
  style="width: fit-content; display: block;"
>
</app-productone> -->

<!-- <h1>shopping cart({{ total() }})</h1> -->
<!-- <div class="row itemsBlock">
  <div *ngFor="let product of cartProductList" class="col-md-4 col-sm-6 col-12">
    <app-cart  [product]="product">
    </app-cart>
  </div>
</div> -->
<!-- <app-cart *ngFor="let product of cartProductList" [product]="product">
</app-cart> -->

<!-- <div>
  <h1>shopping cart({{cartProductList.length}})</h1>
  <div>
    <div *ngFor="let product of cartProductList">{{product.name}}<div></div>
    <div>{{product.price}}<div></div>
  </div>
</div> -->
