<app-navbar></app-navbar>
<!-- cart :{{ count }} -->

<!-- <div class="container">
  <div class="row">
    <div class="col-sm border d-flex flex-column">
      One of three columns
      <img
        src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"
        alt=""
        class="w-75 h-75"
      />
      <div class="d-flex justify-content-between">
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
        </Button>
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-dash"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
            />
          </svg>
        </Button>
      </div>
    </div>

    <div class="col-sm border d-flex flex-column">
      two of three columns
      <img
        src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"
        alt=""
        class="w-75 h-75"
      />
      <div class="d-flex justify-content-between">
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
        </Button>
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-dash"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
            />
          </svg>
        </Button>
      </div>
    </div>

    <div class="col-sm border d-flex flex-column">
      three of three columns
      <img
        src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png"
        alt=""
        class="w-75 h-75"
      />
      <div class="d-flex justify-content-between">
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
            />
          </svg>
        </Button>
        <Button type="button" class="btn btn-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-dash"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
            />
          </svg>
        </Button>
      </div>
    </div>
  </div>
</div>  -->
<!-- <div *ngFor="let product of productList">{{product.name}}{{product.price}}<div></div> -->

<h1>product list</h1>
<div class="row itemsBlock">
  <div *ngFor="let product of productList" class="col-md-4 col-sm-6 col-12">
    <app-productone
      [product]="product"
      (productAdded)="addProductToCart($event)"
      (productremoved)="removeProductToCart($event)"
    >
    </app-productone>
  </div>
</div>
<!-- <app-productone
  *ngFor="let product of productList"
  [product]="product"
  (productAdded)="addProductToCart($event)"
  (productremoved)="removeProductToCart($event)"
  style="width: fit-content; display: block;"
>
</app-productone> -->

<h1>shopping cart({{ total() }})</h1>
<div class="row itemsBlock">
  <div *ngFor="let product of cartProductList" class="col-md-4 col-sm-6 col-12">
    <app-cart  [product]="product">
    </app-cart>
  </div>
</div>
<!-- <app-cart *ngFor="let product of cartProductList" [product]="product">
</app-cart> -->

<!-- <div>
  <h1>shopping cart({{cartProductList.length}})</h1>
  <div>
    <div *ngFor="let product of cartProductList">{{product.name}}<div></div>
    <div>{{product.price}}<div></div>
  </div>
</div> -->
